*{
    margin: 0px;
    padding: 0px;
    
}

.mainimg img{
    height: 270px;
    width: 285px;
    border-radius:20px 20px 0px 0px ;
    /* border-redious-top: 20px; */
    display: flex;
    border: 3px solid #ddd;
    margin: auto;
    /* background-color: black; */
}
.app{
    background-color: rgb(37, 37, 37);
    
}

.maintext{
    position: absolute;
    text-align: center;
    background-color: rgb(7, 7, 7);
    margin: 0px 528px;
    color: white;
    z-index: 1;
    margin-top: -13px;
    /* border:5px 5px 0px 5px solid #292929; */
    
    
}
.head{
    background-color: rgb(37, 37, 37);
    
    height: 302px;
    width: 100%;
}
.heading{
    margin-top: 10px;
    font-size: 10px;
    
}
/* .heading p{
    margin-top: -8px;
} */
.p1{
    color:#e98639 ;
}
.btn button{
    padding: 5px 100px;
    border-radius: 8px;
    border:1px solid #e98639;
    margin-top: 13px;
}
.text{
    text-align: left;
    /* font-size: 10px; */
    padding: 0px 20px 0px 20px;
}
.text h3{
    font-size: 15px;
    margin-top: 15px;
}
.text p{
    font-size: 10px;
    color: gray;
}